<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <!-- -------- HEADER -------- -->
  <header class="main-header">
    <div class="container-top-header">
      <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo" />
      <form class="container-search" action="#" method="GET">
        <input type="text" name="search-bar" id="search-bar" placeholder="Buscar productos, marcas y más"/>
        <a href="#" class="link-search">
          <i class="fas fa-search"></i>
        </a>
      </form>
      <h2 class="subtitle-header">
        <i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>

    <div class="container-burger">
      <i class="fas fa-bars"></i>
    </div>

    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="right-navbar">
        <li>
          <a href="/register">Crea tu Cuenta<i class="far fa-id-card"></i></a>
        </li>
        <li>
          <a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li>
          <a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a>
        </li>
      </ul>
    </nav>
  </header>
  <!-- -------- BANNER -------- -->
  <div id="container-banner">
    <img src="/images/img-home-banner.jpg" alt="banner" />
  </div>
  <!-- -------- MAIN -------- -->
  <main class="main-products">
    <h3 class="title-products">Basado en tu última visita</h3>
    <section>
      <article class="products">
        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" />
        <div class="container-infoProd">
          <div class="iconTruck">
            <i class="fas fa-truck little-truck"></i>
          </div>
          <div class="pYd">
            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
          </div>
          <p class="description">Cafetera Moulinex</p>
        </div>
      </article>
      <article class="products">
        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" />
        <div class="container-infoProd">
          <div class="iconTruck">
            <i class="fas fa-truck little-truck"></i>
          </div>
          <div class="pYd">
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
          </div>
          <p class="description">MacBook Pro 2019</p>
        </div>
      </article>
      <article class="products">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular" />
        <div class="container-infoProd">
          <div class="iconTruck">
            <i class="fas fa-truck little-truck"></i>
          </div>
          <div class="pYd">
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
          </div>
          <p class="description">Samsung Galaxy S10</p>
        </div>
      </article>
      <article class="products">
        <img src="/images/img-tv-samsung-smart.jpg" alt="televisor" />
        <div class="container-infoProd">
          <div class="iconTruck">
            <i class="fas fa-truck little-truck"></i>
          </div>
          <div class="pYd">
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
          </div>
          <p class="description">SmartTv Samsung 43"</p>
        </div>
      </article>
    </section>

    <h3 class="title-products">Ofertas</h3>
    <section>
      <article class="products">
        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" />
        <div class="container-infoProd">
          <div class="iconTruck">
            <i class="fas fa-truck little-truck"></i>
          </div>
          <div class="pYd">
            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
          </div>
          <p class="description">Cafetera Moulinex</p>
        </div>
      </article>
      <article class="products">
        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" />
        <div class="container-infoProd">
          <div class="iconTruck">
            <i class="fas fa-truck little-truck"></i>
          </div>
          <div class="pYd">
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
          </div>
          <p class="description">MacBook Pro 2019</p>
        </div>
      </article>
      <article class="products">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular" />
        <div class="container-infoProd">
          <div class="iconTruck">
            <i class="fas fa-truck little-truck"></i>
          </div>
          <div class="pYd">
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
          </div>
          <p class="description">Samsung Galaxy S10</p>
        </div>
      </article>
      <article class="products">
        <img src="/images/img-tv-samsung-smart.jpg" alt="televisor" />
        <div class="container-infoProd">
          <div class="iconTruck">
            <i class="fas fa-truck little-truck"></i>
          </div>
          <div class="pYd">
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
          </div>
          <p class="description">SmartTv Samsung 43"</p>
        </div>
      </article>
    </section>
  </main>
  <!-- -------- FOOTER -------- -->
  <footer>
    <section class="container-footer">
      <div class="item-footer">
        <i class="fas fa-credit-card icon"></i>
        <h5>Pagá con tarjeta o en efectivo</h5>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="item-footer">
        <i class="fas fa-gift icon"></i>
        <h5>Envío gratis desde $ 2.500</h5>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="item-footer">
        <i class="fas fa-user-shield icon"></i>
        <h5>Seguridad, de principio a fin</h5>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.
        </p>
      </div>
    </section>
    <div class="copy-footer">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
  </footer>
</body>

</html>